body {
    background-color: #111111 !important;
    color: white !important;
}
a {
    color: white !important;
}
a:link {
    color: white !important;
}
a:visited {
    color: white !important;
}
.card-body {
    background-color: #222222 !important;
    color: white !important;
}
.wide {
    width: 99% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.navbar-brand {
    margin-left: 12.5px !important;
}
::-webkit-scrollbar {
    width: 0px;
}